.card {
  border: none !important;
}
.containerIntroTextShop {
  background-image: url("../../assets/imgHome/9.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem !important;
  width: 100%;
  display: flex;
  margin: 0 auto !important;
  text-align: center !important;
  color: white !important;
  font-size: 1.2rem !important;
  border: none !important;
  border-radius: 0 !important;
  /*border: solid 1px #800080 !important;
  border-radius: 10px;
  background-image: url("../../assets/imgHome/backgroundHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
}
.titleIntroShop {
  border: none !important;
  background-color: #3a0ca3 !important;
  font-size: 1rem !important;
  color: white !important;
  font-weight: bolder;
  font-style: italic;
  opacity: 60%;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  margin-top: 0rem;
}
@media only screen and (max-width: 780px) {
  .containerIntroTextShop {
    width: 100%;
    background-image: url("../../assets/imgHome/1.jpg") !important;
  }
  .titleIntroShop {
    font-size: 1rem;
    font-weight: lighter;
    padding-bottom: 0.5rem;
  }
}
