.cardBody {
  background-color: white !important;
  color: black !important;
  border-radius: 10px !important;
  border: none !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem !important;
}

.link {
  color: #800080 !important;
}
.btnPayment {
  color: white !important;
  text-decoration: none !important;
  padding: 0.5rem 1rem !important;
  border-radius: 1.25rem !important;
  background-color: #800080 !important;
  border: none !important;
  margin: 0 auto !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center !important;
}
.btnPayment:hover {
  background-color: #f72585 !important;
  zoom: 1.1;
}
.containerBtn {
  display: flex !important;
  margin: 1rem !important;
}
