.cardBody {
  background-color: white !important;
  color: black !important;
  border-radius: 10px !important;
}
.link {
  color: white;
}
.btnPayment {
  color: white !important;
  text-decoration: none !important;
  padding: 1rem !important;
  border-radius: 5px !important;
  background-color: #800080 !important;
  border: none !important;
  margin-top: 1rem !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btnPayment:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
