.contentItemProduct {
  display: flex !important;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.cardText {
  border: none !important;
  align-items: center;
  height: max-content !important;
  margin-left: 2rem !important;
  color: black !important;
  background-color: transparent !important;
}
.btnCardShop {
  background-color: transparent !important;
  border: none !important;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  margin-right: 1rem !important;
  border-radius: 1.25rem !important;
  padding: 0.5rem 1rem !important;
}
.btnCardShop:hover {
  transform: scale(1.1);
  /*background-color: #3a0ca3 !important;*/
}
.linkCardShop:hover {
  color: #f72585 !important;
}
.linkCardShop {
  color: #3a0ca3 !important;
  font-weight: bolder;

  text-decoration: none !important;
}
.containerBtn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f2dcff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  padding: 3rem;
}
.containerLink {
  display: flex;
}
.linkSizeColor {
  color: white !important;

  margin: 0.5rem;
}
.containerBtnSize {
  display: flex;
  margin-bottom: 1rem;
}
.btnSize {
  background-color: transparent !important;
  color: black !important;
  border: solid black 1px !important;
  border-radius: 10px !important;
  margin-right: 0.5rem !important;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}
.btnSize:focus {
  background-color: #3a0ca3 !important;
  color: white !important;
  border: none !important;
}
@media only screen and (max-width: 780px) {
  .containerBtn {
    flex-wrap: wrap;
    padding: 1rem !important;
  }
  .contentItemProduct {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: block !important;
  }
  .btnCardShop {
    margin-top: 1rem;
  }
  .cardText {
    text-align: center !important;
    margin: 0 auto !important;
  }
}
