body {
  margin: 0;
  padding: 0;
  /* font-family: Roboto !important;*/

  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: 0.1rem;
  line-height: 1.6 !important;
}

.dropdown-toggle::after {
  color: white !important;
} /*freccia dropdown navbar*/
/*.dropdown-menu.show {
  background-color: transparent;
  border: none;
  opacity: 70%;
} /*menu a comparsa navBar*/
.form-select {
  color: black !important;
  background-color: transparent !important;
}

.form-select > option {
  color: black !important;
}
.navbar-toggler {
  margin: 1rem;
  color: white !important;
}

@media only screen and (max-width: 780px) {
  .form-select > option {
    width: fit-content !important;
    padding: 0rem;
    font-size: 0.5rem;
    color: black !important;
  }
  .form-select {
    width: fit-content;

    font-size: 1rem;
    color: black !important;
  }
  .mb-4 p {
    display: none;
  } /*nascondere text footer*/
}
.mb-4 p {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
} /*text footer*/
